*{
	font-family: montserrat;

}


.section-padding{
	padding:100px 0;
}

.carousel-item{
	height: 100px;
	min-height:300px;
}

.navbar-nav a{
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 700;
	
}

.service .card-body{
	font-size: 50px;
}

.navbar-light .navbar-brand{
	color:rgb(0, 0, 0);
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover{
	color:rgb(92, 18, 196)
}

.navbar-light .navbar-nav .nav-link{
	color:rgb(92, 18, 196)
}

.w-100{
	height: 100vh;
}

@media only screen and (max-width: 767px) {
	
	.navbar-nav{
		text-align:inherit
	}
}

.image{
	display: block;
	width:100%;
	padding: 40px 3px ;
	cursor: pointer;
}

.products {
	padding: 5% 0 0;
}
.card {
    border: none;
	box-shadow: 0 2px 20px rgba(0,0,0,0.5);
}


body{
    background: #f1f1f3ea;
}
.card-body {
	color: #0f0f0f;
	background: rgb(18, 196, 110)
}
.card-title {
	font-size: 30px;
	font-weight: 700;
    transition: all .5s ease-in-out;
}
.btn-group .btn {
	background: #a3a2a1;
	color: #0f0f0f;
	font-size: 20px;
	margin-right: 5px;
	padding: 10px 20px;
	font-weight: 700;
    transition: all .6s ease-in;
}
.price {
	font-size: 25px; 
	font-weight: 900;    
    transition: .6s;
	color: red;
	padding: 10px 20px;
}
.card:hover .price{
    animation: pulse .5s ease-in-out infinite;
}
@keyframes pulse{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(.95);
    }
    0%{
        transform: scale(1);
    }
}

.btn:hover {
	background: #4d7181;
	color: #262626;
}
@media (max-width: 991px){
    .card {
        margin-bottom: 30px;
    }
}
@media (max-width: 767px){
    .btn-group .btn {
        font-size: 20px;
    }
}

.footer {
	
	padding: 86px 0;
	
}
.single-content {
	text-align: center;
	padding: 115px 0;
}
.single-box p {
	color: #000000;
	line-height: 1.9;
}

.single-box h1{
	color:rgb(0, 0, 0);
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
	
}
.single-box h3 {
	font-size: 16px;
	font-weight: 700;
	color: #000000;
}
.single-box .card-area i {
	color: #000000;
	font-size: 20px;
	margin-right: 10px;
}
.single-box ul {
	list-style: none;
	padding: 0;
}
.single-box ul li a {
	text-decoration: none;
	color: #000000;
	line-height: 1,9;
	font-weight: 100;
}
.single-box h2 {
	color: #000000;
	font-size: 20px;
	font-weight: 700;
}
#basic-addon2 {
	background: #fe1e4f;
	color: #fff;
}
.socials i {
	font-size: 18px;
	margin-right: 15px;
}
@media (max-width: 767px) {
	.single-box {
		margin-bottom: 50px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.single-box {
		margin-bottom: 50px;
	}
}